* {
    margin: 0;
    padding: 0;
}

body {
    background: url(./micheile-henderson-SoT4-mZhyhE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */

}

.main {
    background-color: rgba(155, 225, 245, 0.434);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;


}

.cal {
    height: 520px;
    width: 400px;
    background-color: #faf5fa4a;
    margin-right: 200px;
    border-radius: 10px;



}
#eqal{
    width: 153px;

}

.screen {
    height: 90px;
    width: 100%;
    background-color: #faf5faa4;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.screen input {
    width: 86%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    background: transparent;
    border: none;
    font-size: 60px;
    text-align: right;
    
}


.screen input:focus {
    outline: none;
}

.btn-section {
    margin-top: 20px;
}

.btn {
    display: flex;
    justify-content: center;

}

.btn input {
    height: 70px;
    width: 70px;
    background-color: black;
    color: white;
    border-radius: 10px 5px;
    border: none;
    font-size: 26px;
    margin: 5px;
    box-shadow: 3px 3px 3px darkblue;
    transition: all 1s;
}

.btn input:hover {
    box-shadow: 0px 0px 0px black;
}